# Datenbank Variablen
MYSQL_ROOT_PASSWORD=plAb-67JQ-6XCw-Ja7W-21%1-apdI-cqdA
# TODO: Change Me!
MYSQL_PASSWORD=WTTT-33
MYSQL_DATABASE=WTTT-33
MYSQL_USER=WTTT-33

# PhpMyAdmin
# The hostname of the db server
PMA_HOST=db

# Auth options
WTTT_33_JWT_PRIVATE_KEY=u5PeZuaiS94ri8jA5M5tVJr8jgyWvnn5FxXEf2L+zBYq
WTTT_33_JWT_TIME=15

# The host where the app server can connect to the db
WTTT_33_DB_HOST=localhost

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PRISMA_DATABASE_URL=mysql://root:${MYSQL_ROOT_PASSWORD}@${WTTT_33_DB_HOST}:3306/${MYSQL_DATABASE}

PUBLIC_API_URL=http://localhost:1234

LOG_LEVEL=info