.table-action-col {
  text-align: right;
}

.zoom-on-hover {
  transition: transform 0.2s; /* Animation */
}
.zoom-on-hover:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.error-label {
  color: darkred;
  font-size: medium;
  animation: fadeInAnimation 0.83s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  justify-content: center;
  border: 6px solid;
  border-top: 6px solid var(--primary);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
