---
import TableBooking from "../components/tables/TableBooking.vue";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Buchungen";
---

<BaseLayout pageTitle={`WTTT 33 - ${pageTitle}`}>
  <h1>{pageTitle}</h1>

  <TableBooking client:load />
</BaseLayout>
