---
import BookingTable from "../components/bookings/BookingTableWrapper.vue";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Buchungen";
---

<BaseLayout pageTitle={`WTTT 33 - ${pageTitle}`}>
  <h1>{pageTitle}</h1>
  <BookingTable client:load />
</BaseLayout>

<script src="../scripts/ensureLoggedIn.ts"></script>
