---
import CourseTable from "../components/courses/CourseTableWrapper.vue";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Klassen";
---

<BaseLayout pageTitle={`WTTT 33 - ${pageTitle}`}>
  <h1>{pageTitle}</h1>
  <CourseTable client:idle />
</BaseLayout>

<script src="../scripts/ensureAdminLoggedIn.ts"></script>
