---
import TableCourse from "../components/tables/TableCourse.vue";
import BaseLayout from "../layouts/BaseLayout.astro";
import type { CourseResponse } from "../types/Courses";

const pageTitle = "Klassen";
---

<BaseLayout pageTitle={`WTTT 33 - ${pageTitle}`}>
  <h1>{pageTitle}</h1>

  <TableCourse />
</BaseLayout>
