---
import Login from "../components/Login.vue";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="WTTT 33 - Home">
  <hgroup>
    <h1>Willkommen</h1>
    <h2>zur Zeiterfassung der ABW 33</h2>
  </hgroup>
  <article>
    <!-- <header><h3>Login</h3></header> -->
    <Login client:load />
  </article>

  <!-- Don't show site navigation on landing page -->
  <style is:global>
    .sites-navigation {
      display: none;
    }
  </style>
</BaseLayout>
