---
import BaseLayout from "../layouts/BaseLayout.astro";
import TableUser from "../components/tables/TableUser.vue";

const pageTitle = "Nutzer";
---

<BaseLayout pageTitle={`WTTT 33 - ${pageTitle}`}>
  <h1>{pageTitle}</h1>
  <TableUser client:load />
</BaseLayout>
