---
import BaseLayout from "../layouts/BaseLayout.astro";
import UserTable from "../components/users/UserTableWrapper.vue";

const pageTitle = "Nutzer";
---

<BaseLayout pageTitle={`WTTT 33 - ${pageTitle}`}>
  <h1>{pageTitle}</h1>
  <UserTable client:load />
</BaseLayout>

<script src="../scripts/ensureAdminLoggedIn.ts"></script>
