<footer>
  <nav>
    <ul>
      <li>
        Design by <a href="https://kaiwissel.de">
          <img
            src="/assets/logo_kw.svg"
            width="25"
            alt="https://kaiwissel.de"
          />
        </a>
      </li>
      <li>
        Find code on <a href="https://github.com/KaiWissel/wttt-33">
          <img
            src="/assets/github.svg"
            width="25"
            alt="https://github.com/KaiWissel/wttt-33"
          />
        </a>
      </li>
    </ul>
  </nav>
</footer>
