---
const { pageTitle } = Astro.props;
---

<header>
  <nav>
    <ul>
      <li><a href="/"><strong>A most beautiful logo</strong></a></li>
    </ul>
    <ul class="sites-navigation">
      <li>
        <a href="/bookings">Buchungen</a>
      </li>
      <li>
        <a href="/users">Nutzer</a>
      </li>
      <li>
        <a href="/courses">Klassen</a>
      </li>
      <li>
        {pageTitle}
      </li>
    </ul>
    <!-- <a href="#" role="button">Button</a> -->
  </nav>
</header>
