---
import Logo from "./Logo.astro";
import RoleDisplay from "./RoleDisplay.vue";
---

<header>
  <nav>
    <ul>
      <li>
        <a href="/">
          <Logo size="100" />
        </a>
      </li>
    </ul>
    <ul class="sites-navigation">
      <li>
        <a href="/bookings">Buchungen</a>
      </li>
      <li>
        <a href="/users">Nutzer</a>
      </li>
      <li>
        <a href="/courses">Klassen</a>
      </li>
      <li>
        <RoleDisplay client:idle />
      </li>
    </ul>
  </nav>
</header>
